.App {
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  color: white;
}
#left, #right{
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

button{
  outline: none;
  border: none;
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}
button:disabled {
  color: graytext !important;
  background-color: lightgray;
  cursor: not-allowed;
}
#form{
  margin: 15px 0;
}
input{
  height: 28px;
  line-height: 28px;
  text-indent: 7px;
  border-radius: 3px;
  border: 1px solid lightgray;
  outline: none;
}
.primary{
  background-color: dodgerblue;
  color: white;
}
.primary:hover:not(:disabled){
  background-color: #1e80ef;
}
.success{
  background-color: limegreen;
  color: white;
}
.success:hover:not(:disabled){
  background-color: #31a531;
}
.danger{
  background-color: red;
  color: white;
}
.danger:hover:not(:disabled){
  background-color: #EE0000;
}
#right{
  background-color: dodgerblue;
}
#left{
  background-color: forestgreen;
}
.item{
  height: 60px;
  margin: 10px 0;
  color: white;
  text-align: left;
  padding: 0 20px;
  border-bottom: 1px solid whitesmoke;
}
